{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awwards!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">  
</head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="https://media.istockphoto.com/vectors/gold-and-silver-circle-star-logo-template-vector-id1313644269?k=20&m=1313644269&s=612x612&w=0&h=ErmCsOYOkv447yfEvYmfB-QPMFkEhsGwAEVeG5fjmBI=" >
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="{% url 'index' %}" class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Documentation
            </a>
            <a href="{% url 'profile' %}" class="navbar-item">
                <i class="material-icons">face</i>
                Profile - <strong>{{ request.user }}</strong>
              </a>
      
              
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="{% url 'newpost' %}" class="navbar-item">
                  <i style="color: green;" class="material-icons">perm_media</i>
                  <strong>New Post</strong>
                </a>

                <form class="d-flex" method="POST" action="{% url 'search_users'%}">
                    <div class="field has-addons has-addons-centered">
                    {% csrf_token%}
          
                     <div class="control">
                     <input class="input" name="searched" type="Search" placeholder="Search for a user"> </div>
                     <div class="control">
                     <button class="button is-primary" type="submit">Search</button> </div>
                
                    </div>
                   </form>
                   
                   <a href="{% url 'logout' %}" class="button is-light">
                    Log Out
                  </a>
                </div>

            </div>
          </div>
        </div>
      </nav>
      
  <section class="section">
    <div class="container">
     {% block content %}

     {% endblock %}

     {% block pagination %}
     
     {% endblock %}

    </div>
  </section>
  </body>
</html>