


{% extends 'base.html' %}
{% load static %}

{% block content %}

    

    </head>
   
    
    <section class="hero is-success" style="background-color: black;">
        <div class="hero-body">
            <center> <p class="title">
            Awwards
          </p>
          <p class="subtitle">
            The awards of design, creativity and innovation on the internet!
          </p></center>
        </div>
      </section>
<body class="container  container-fluid">
  
   

    <div class="col-md-9">
        <div class="row">
        {% for post_item in post_items %}
        
        <div class="col-md-4">
            <div class="card my-2 " width="18px" >
                <img src="{{post_item.picture.url}}" class="image-thumbail" alt="...">
                
                <div class="card-body">
                    <strong><small >Title:{{post_item.title}}</small> <br></strong>
                    <small > <em><strong>Description:</strong> {{post_item.description}} </em></small> <br>
                  <small ><strong>Date:</strong>{{post_item.posted}}</small> <br/>
                  <a href="posts/{{post_item.id}}">Readmore</a>
                  
                  
                </div>
                
              </div>
        </div>
        {% empty %}
        <h3>No Photos... </h3>
        {% endfor %}
    </div>

</div>


   

</body>
</html>
{% endblock %}