{% extends 'base.html'%}
{%block content%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<div class="container" style="font-family: 'Jost', sans-serif;">
    <p>{{post.title}}</p>
    <p>{{post.description }}</p>
    <div class="row  p-5 mt-5">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="card p-3">

                    <form class="form" action="" method="post" novalidate>
                        {% csrf_token %}
                      
                        <div class="row pl-5">
                            <button type="submit" class="btn btn-sm btn-outline-primary"
                                style="margin-top:14px; margin-left:-10px">Review</button>
                        </div>


                    </form>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <h3>Reviews</h3>
            <div class="row">
                {%for revi in reviews%}
                <p class="text-secondary pr-3">{{user.username}}</p>
                <p class="pr-2"> {{revi.text}}</p>
                <p class="pr-3">Design : {{revi.design}}</p>
                <p class="pr-2"> Usability: {{revi.usability}}</p>
                <p class="pr-2"> Content: {{revi.content}}</p>
                {%endfor%}
            </div>

        </div>
    </div>
</div>

{%endblock%}